<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css for sharepage/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css for sharepage/contaner.css')}}">
    <title>Share</title>
</head>
<body>
    <div class="username">{{username}},{{session}}</div>
    <h1>Content</h1>
    <b></b>
    <div class="content table">
    {% for item in content %}
    <div>{{item}}</div>
    {%endfor%}
    </div>
</body>
</html>